<footer class="site-footer">

  <div class="wrapper">
    <h3>Links:</h3>
    <div class="links">
    <a href="/jp/articles/j-weekly/">
      <img style="float: left; margin: 4px;" src="/img/ariza-banner.png" width="200" height="74"/>
    </a>

    <a href="https://www.sheetmusicplus.com/instruments/piano-sheet-music/900069?aff_id=379795">
      <img style="float: left; margin: 4px;" src="/img/sheetmusicplus.png"/>
    </a>

    <br><br><br><br>

    <a href="http://yujinariza.com/violin">
      <img style="float: left; margin: 4px;" src="/img/yujin-banner.jpg"/>
    </a>

    <a href="http://v2.elenaariza.com">
      <img style="float: left; margin: 4px;" src="/img/elena-banner2.jpg"/>
    </a>

    <br><br><br><br>
    <br><br>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.footer_description }}</p>
      </div>
    </div>

  </div>

</footer>
