<header class="site-header">

  <div class="lang-picker">
    <a id="lang-en" href="{{ page.url | replace_first: '/jp/', '/en/' }}">English</a>
    <a id="lang-jp" href="{{ page.url | replace_first: '/en/', '/jp/' }}">日本語</a>
  </div>

  <div class="wrapper">
    <div class="header-links">
      <a class="site-title" href="{{ site.baseurl }}/">NAGISA ARIZA PIANO STUDIO</a>
      <div class="space-nav"></div>
      <nav class="site-nav">

          {% if current_lang == "jp" %}
          <ul>
            <li><a class="page-link" href="{{ "/jp/about/" | prepend: site.baseurl }}">自己紹介</a></li>
            <li><a class="page-link" href="{{ "/jp/news/" | prepend: site.baseurl }}">ニュース</a></li>
            <li class="submenu-parent"><a class="page-link">記事</a>
              <ul class="submenu">
                <li><a class="page-link" href="{{ "/jp/articles/j-weekly/" | prepend: site.baseurl }}">音楽教育のススメ</a></li>
              </ul>
            </li>
            <li><a class="page-link" href="{{ "/jp/events/" | prepend: site.baseurl }}">イベント</a></li>
            <li class="submenu-parent"><a class="page-link">レッスン</a>
              <ul class="submenu">
                <li><a class="page-link" href="{{ "/jp/lessons/private-lessons/" | prepend: site.baseurl }}">ピアノ・レッスン</a></li>
                <li><a class="page-link" href="{{ "/jp/lessons/theory/" | prepend: site.baseurl }}">セオリー・聴音・ソルフェージュ</a></li>
                <li><a class="page-link" href="{{ "/jp/lessons/workshop/" | prepend: site.baseurl }}">ワークショップ</a></li>
                <li><a class="page-link" href="{{ "/jp/lessons/testimonials/" | prepend: site.baseurl }}">ご父兄からの声</a></li>
              </ul>
            </li>
            <li><a class="page-link" href="{{ "/jp/achievements/" | prepend: site.baseurl }}">受賞歴</a></li>
            <li><a class="page-link" href="{{ "/jp/studio-recording/" | prepend: site.baseurl }}">スタジオ録音</a></li>
            <li><a class="page-link" href="{{ "/jp/contact/" | prepend: site.baseurl }}">お問合せ</a></li>
          </ul>

          {% elsif current_lang == "en" %}
          <ul>
            <li><a class="page-link" href="{{ "/en/about/" | prepend: site.baseurl }}">About</a></li>
            <li><a class="page-link" href="{{ "/en/news/" | prepend: site.baseurl }}">News</a></li>
            <li class="submenu-parent"><a class="page-link">Articles</a>
              <ul class="submenu">
                <li><a class="page-link" href="{{ "/en/articles/j-weekly/" | prepend: site.baseurl }}">音楽教育のススメ</a></li>
              </ul>
            </li>
            <li><a class="page-link" href="{{ "/en/events/" | prepend: site.baseurl }}">Events</a></li>
            <li class="submenu-parent"><a class="page-link">Lessons</a>
              <ul class="submenu">
                <li><a class="page-link" href="{{ "/en/lessons/private-lessons/" | prepend: site.baseurl }}">Piano Lessons</a></li>
                <li><a class="page-link" href="{{ "/en/lessons/theory/" | prepend: site.baseurl }}">Theory</a></li>
                <li><a class="page-link" href="{{ "/en/lessons/workshop/" | prepend: site.baseurl }}">Workshop</a></li>
                <li><a class="page-link" href="{{ "/en/lessons/testimonials/" | prepend: site.baseurl }}">Testimonials</a></li>
              </ul>
            </li>
            <li><a class="page-link" href="{{ "/en/achievements/" | prepend: site.baseurl }}">Students' Achievements</a></li>
            <li><a class="page-link" href="{{ "/en/studio-recording/" | prepend: site.baseurl }}">Recording Studio</a></li>
            <li><a class="page-link" href="{{ "/en/contact/" | prepend: site.baseurl }}">Contact</a></li>
          </ul>
          {% endif %}

      </nav>

    </div>

  </div>

</header>
